<div class="text-center table-pagination" ng-show="totalItems > 0">
    <div class="pagination-total-page">共{{totalItems}}条 / {{numPages}}页</div>
    <pagination class="pagination-tab pagination-sm" total-items="totalItems" ng-change="pageChanged(currentPage)"
                ng-model="currentPage"
                max-size="4" previous-text="上页" next-text="下页" first-text="首页" last-text="尾页"
                boundary-links="true" direction-links="false" rotate="false" items-per-page="pageSize"
                num-pages="numPages"></pagination>
</div>
<div class="ball-pulse text-center no-data" ng-show="loading">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="text-center text-danger no-data" ng-show="totalItems == 0">暂无数据</div>